<form [formGroup]="createProjectForm">
  <mat-card class="card">
    <mat-card-title class="card_title">Новый проект</mat-card-title>
    <mat-card-content class="card_content">
      <mat-form-field class="card_content_field" appearance="fill">
        <mat-label>Название</mat-label>
        <input
          formControlName="title"
          matInput
          placeholder="Название проекта..."
          ng
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="card_actions">
      <button class="card_actions_btn" mat-raised-button (click)="onClose()">
        Отмена
      </button>
      <button
        class="card_actions_btn"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="!createProjectForm.valid"
      >
        Ок
      </button>
    </mat-card-actions>
  </mat-card>
</form>
