.projects_container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 40px;

  & .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 300px;

    &_title {
      width: fit-content;
    }
    &_content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      &_inline {
        display: flex;
        white-space: nowrap;
        justify-content: space-between;

        &_checkbox {
          margin-top: 10px;
        }
      }
    }
    &_actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
